<div class="main-div">
    <mat-card >
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <!-- <mat-card-title> </mat-card-title> -->
        <!-- <mat-card-subtitle>For you</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Ente your Today</mat-label>
            <input matInput placeholder="Ex. Meeting at 8 AM">
            <button matSuffix mat-icon-button (click)="openPopup()">
                <mat-icon>add</mat-icon>
              </button>
        </mat-form-field>
        
    </form> -->
    <!-- <button matSuffix mat-icon-button (click)="openPopup()">
      <mat-icon>add_box</mat-icon>
    </button> -->
    <div>
    <button mat-fab extended class="example-card" (click)="openPopup()">
      <mat-icon class="icon_class">add</mat-icon>
    </button>
  </div>

        <app-today-list></app-today-list>
      </mat-card-content>
    </mat-card>
  </div>