<div class="main-div">
    <mat-card >
      <mat-card-header>
        <div class="logout-button-container">
          <!-- Add the logout button here -->
          <button mat-mini-fab class="logout-button" (click)="menu($event)">
            <mat-icon><span >
              menu
              </span></mat-icon>
          </button>
        </div>
        
      </mat-card-header>
      
      <mat-card-content>
      
    <div>
    <button mat-fab extended class="example-card" (click)="openPopup()">
      <mat-icon class="icon_class">add</mat-icon>
    </button>
  </div>

        <app-today-list></app-today-list>
      </mat-card-content>
    </mat-card>
  </div>