.example-card {
    width: 380px;
    max-height:auto;
    /* Center horizontally*/
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  /* .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .example-form {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  /* button[mat-fab][color='myCustomColor'] {
    background-color: #f7f5f5e4;
  } */

  /* .custom-button {
    background-color: #2196F3; 
    color: white; 
    font-size: 18px; 
    
  } */

  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the container takes the full height of its parent */
  }

  .example-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text content */
    background-color: #fae607fe; 
    color: rgb(11, 10, 10); 
  }
  .icon_class{
    font-size: 28px; 
  }

  .logout-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px; /* Adjust padding as needed */
  }
  
  .logout-button {
    margin-right: 8px !important;/* Adjust margin-right as needed */
  }